.page-content{
	background-color: white;
}

.banner-shape{
	position: absolute;
    width: 240px;
    height: 255px;
    -webkit-transform: skew(-35deg);
    background-color: #0F9448;
    right: 145px;

}

.sub-banner{
	width: 100%;
    background-color: #097331;
}

.banner-text-about {
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-text-about p {

    line-height: 28px;
}


.sub-banner h2 {
    font-size: 45px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 25px;
    margin: 0;
}

.sub-banner p {
    font-size: 18px;
    color: #f5f5f1;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: .3px;
    margin: 0;
}



.employees p{
    font-size: 18px;
    line-height: 1.56;
    font-family: 'Open Sans',sans-serif;
    color: #797c7d;
}

.emloyee-text {
    padding-top: 25px;
    width: 70%;
    padding-bottom: 70px;
}


.employee-image {
    background-image: url("../images/Steve-Olson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 265px;
    display: inline-block;
    margin-bottom: -3px;
}

.about-profiles-text {
    display: inline-block;
    width: 71%;
    padding-left: 30px;
    vertical-align: top;
    padding-top: 15px;
}

.employee-header h1, .employee-header h3{
	margin: 0;
}

.employee-text {
	vertical-align: top;
}

.employee-text h1 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    font-size: 28px;
    padding-bottom: 5px;
}

.employee-text h3 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #4d4f4f;
    font-size: 20px;
    padding-bottom: 10px;
}

.employee-text p {
    padding-bottom: 20px;
    margin: 0;

}

.employee-action{
    /*margin-bottom: 20px;*/
}

.employee-action a {
    font-family: Vollkorn,serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #4d4f4f;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #AED139;
    margin-right: 20px;
}

.sub-header-content{
    padding-top: 25px;
    padding-bottom: 50px;
}

.company-details{
	width: 60%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 175%;
	color: #4d4f4f;
}

.employee{
	border-bottom: 10px solid #AED139;

	margin-bottom: 50px;
}

.employee-image, .employee-text{
	display: inline-block;
}


.employee-text{
	width: 70%;
}

