
.compliance-text {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 66%;
}

.compliance-text h3 {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #4d4f4f;
    font-weight: 700;
    padding-bottom: 20px;
}

.compliance-text p {
    padding-bottom: 20px;
}

.boxes{
    padding-bottom: 45px;
}

.box {
    height: 215px;
    width: 230px;
    border-bottom: 10px solid #0F9448;
    border-top: 10px solid #AED139;
    border-left: 1px solid #e8e8e3;
    border-right: 1px solid #e8e8e3;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
    vertical-align: top;
}

.box-title {
    padding-top: 25px;
}

.box-content {
    bottom: 0;
}

.box-link {
    bottom: 0;
    padding-bottom: 25px;
}

.box h4 {
    width: 70%;
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
    text-transform: uppercase;
/*    padding-top: 30px;
    padding-bottom: 25px;*/
}

.box-text p{
    color: #797c7d;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
/*    margin-bottom: 35px;*/
}

.box h5 {
    width: 60%;
    font-size: 14px;
    color: #4d4f4f;
    font-family: Vollkorn,serif;
    text-transform: uppercase;
}

.box h5 a {
    color: #4d4f4f;
    text-decoration: none;
}

.box h5 a:hover {
    border-bottom: 1px solid #4d4f4f;
    padding-bottom: none;
}


.box h4, .box p, .box h5 {
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
}