
    	/* Footer Styling? */
  		footer{
  		  height: 307px;
  		  background-color: rgb(77, 79, 79);
  		  width: 100%;

  		}

  		footer>.footer-logo{
  		    background-image: url('../images/A-accomplus.png');
  		    height: 307px;
  		    background-repeat: no-repeat;
  		    width: 24%;
  		    float: right;
  		}

  		footer .address{
  			color: #9CA0A2;
  			font-family: 'Open Sans', sans-serif;
  		  	font-weight: 100;
  		  	padding-top: 45px;
  		  	font-size: 14px;
  		}

  		.address-container{
  		  display: inline-block;

  		}

  		.company{
  			color: #fff;
  			font-weight: 600;
  			font-size: 15px;
  		}


  		.location-pin{
  		  background-image: url("../images/accomplus-location-pin.png");
  		  height: 15px;
  		  width: 15px;
  		  display: inline-block;
  		  vertical-align: top;
  		  padding-top: 15px;
  		}

  		.fa-map-marker{
  		  color: #D0392F;
  		}
