body{
    	  width: 100%;
    	  margin: 0px;
    	}

    	.page-container{
    	  width: 100%;
    	  /*background-color: red;*/
    	}

    	.page-container>.content{
    	  width: 100%;

    	}
    	.container {
    	  width: 70%;
    	  margin:auto;
    	}

    	ul{
    	  margin: 0;
    	  padding: 0;
    	}

    	ul, li{
    	  margin: 0; 
    	  padding: 0;
    	  list-style-type: none 
    	}

    	a{
    	  text-decoration: none;
    	}

    	.inner-container{
    	  width: 90%;
    	  margin: auto;
    	}


    	header>.contact-details{
    	  margin: auto;
    	  background-color: #F5F5F1;
    	  margin-top: -15px;
    	  height: 60px;
    	}


    	header>.contact-details>.container>ul{
    	  width: 100%;
    	  list-style: none;
    	  margin: auto;
    	  text-align: right;
    	  padding-left: 0;
    	}

    	header>.contact-details>.container>ul>li{
    	  display: inline-block;
    	  font-size: 12px;
    	  padding-left: 15px;
    	  padding-right: 15px;
    	}

    	header>.contact-details>.container>ul>li>.action{
    	  text-decoration: none;
    	  color: #4d4f4f;
    	  text-transform: uppercase;
    	  font-family: 'Open Sans', sans-serif;
    	  font-weight: 400;
    	}

    	header>.contact-details>.container>ul>li>.phone{
    	  font-family: 'Open Sans', sans-serif;
    	  font-weight: 700;
    	  font-size: 22px;
    	  color: #4d4f4f;
    	}

    	.accomplus-logo-header{
    	  background-image:url('../images/accomplus-logo.png');
    	  height: 127px;
    	  background-repeat: no-repeat;
    	  width: 670px;
    	  margin-top: -25px;

    	  /*float: left;*/
    	}

    	.home-link{
    	  display: block;
    	  height: 125px;
    	  width: 600px;
    	}


    	header>.navbar{

    	  height: 60px;
    	  background: #0E9548;
    	}

    	.navbar ul{
    	  margin: auto;
    	  list-style:none;
    	  display: inline-block;
    	}

    	.navbar .search{
    	  display: inline-block;
    	  float: right;
    	  padding: 20px;
    	  background-color: none;
    	  height: 20px;
    	}


    	.search .search-field {
    	    width: 127px;
    	    background: 0 0;
    	    border-radius: 0;
    	    border: none;
    	    border-bottom: 1px solid #fff;
    	    padding-bottom: 5px;
    	}

    	.search .search-field::-webkit-input-placeholder {
    	   color: #fff;
    	   font-size: 15px;
    	    font-weight: 100;
    	}

    	.search .fa-search{
    	  color: #fff;
    	}

    	.navbar li{
    	  padding: 20px;
    	  display: inline-block;
    	  height: 20px;
    	}

    	.navbar li:hover{
    	  background-color: #097331;
    	}

    	.open{
    	  background-color: #50B341;
    	}

    	.nav-list-item.open:hover{
    	  background-color: #50B341;
    	}

    	.navbar a{
    	  color: white;
    	  font-family: Myriad Pro, sans-serif;
    	  text-transform: uppercase;
    	  font-size: 15px;
    	  font-weight: 100;
    	}