
  		/*home page styling */
  		.box-sized{
  			box-sizing: border-box;
  		}

  		.content{
  			background: #FFFFFF;
  		}

  		.content>.slider-container{
  			position: relative;

  		}

  		.top-text{
  			width: 70%;
  			display: inline-block;
  			text-align: left;
  		}

  		.top-text p{
  			line-height: 180%;
  			font-size: 19px;
  		}

  		.top-slider p{
  			font-size: 15px;
  			margin-bottom: 20px;
  		}

  		.top-slider h4{
  			font-size: 20px;
  			text-transform: uppercase;
  			font-family: Vollkorn,serif;
  			font-weight: 400;
  			margin-bottom: 20px;
  		}

  		.top-slider a, .action-link{
  			text-transform: uppercase;
  			font-family: Vollkorn,serif;
  			font-weight: 400;
  			margin-bottom: 5px;
  			display: block;
  			font-size: 14px;
  			color: #4D4F4F;
  		}

  		.action-link{
  			width: 40%;
  		    margin: auto;
  		    padding-top: 20px;
  		}


  		.top-slider{
  			width: 29%;
  			display: inline-block;
  			text-align: center;
  		}

  		.top-slider .grey-line{
  			border: 1px solid #D6D7D8;
  			width: 90%;
  			margin: auto;
  		}

  		.top-slider .green-line{
  			border: 1px solid #AED139;
  			width: 35%;
  			margin: auto;
  		}

  		.action-link a{
  			display: block;
  			border-bottom: 1px solid #AED139;
  			color: black;
  		}

  		.top-slider .slides{
  			padding-top: 50px;
  			padding-bottom: 30px;

  		}


  		.right-action, .middle-action, .left-action{
  			display: inline-block;
  			width: 30%;
  			vertical-align: top;
  			margin-right: 15px;

  		}

  		.right-action, .middle-action{
  			/*width: 30%;*/
  		    vertical-align: top;
  		    border: 1px solid grey;
  		    padding-top: 30px;
  		    padding-bottom: 50px;
  		}

  		.top-action, .bottom-action{
  		    border: 1px solid grey;
  		    padding-top: 10px;
  		    padding-bottom: 22px;
  		}

  		.bottom-action{
  			margin-top: 25px;
  		}
  		.event{

  			padding-bottom: 5px;
  		}
  		.event>p{
  			margin: 0px;
  		}

  		.top-content, .bottom-content{
  		    margin-top: 37px;
  		    margin-bottom: 37px;
  			font-family: 'Open Sans',sans-serif;
  			font-weight: 200;
  			color: #4D4F4F;
  			text-align: center;
  		}

  		.bottom-content{
  			background-color: #F5F5F1;
  			padding-top: 40px;
  			padding-bottom: 35px;
  		}

  		.top-content h2, .top-content h1, .top-content h4{
  			font-weight: 200;
  			content: #4D4F4F;
  		}

  		.bottom-content h2, .bottom-content h1, .bottom-content h4{
  			font-weight: 200;
  			color: #4D4F4F;

  		}

  		.bottom-content h2{
  			margin-top: 35px;
  		}

  		.radio-buttons{
  			margin: auto;
  			width: 37%;
  		}


  		.slide-button{
  			display: inline-block;
  			width: 30%;
  		}
  		.slide-radio-button{
  			width: 40%;
  			margin: auto;
  			background-color: #C9CACA;
  			border-radius: 50%;
  			border: 1px solid #B3B4B4;
  			height: 10px;
  		}

  		.slide-radio-button.checked{
  			background: #333434;
  			border-radius: 50%;
  			border: 1px solid #B3B4B4;
  		}


  		.action-header {
  			text-transform: uppercase;
  			font-family: 'Open Sans',sans-serif;
  			font-weight: 100;

  		}

  		.icon{
  			color: #D0392F;
  			margin: auto;
  			width: 30%;
  			margin-top: -53px;
  			background-color: #F5F5F1;
  		}

  		.icon.action-header{
  			padding-top: 5px;
  			padding-bottom: 5px;
  			width: 60%;
  			margin-top: -33px;
  		}

  		.icon.action-header>h2{
  			margin: 0;
  			background: #F5F5F1;
  		}

  		.slider-container{
  			width: 100%;
  		}

  		.slider-container, .slider-container*{
  			box-sizing: border-box;
  			overflow: hidden;
  			/*width: 100%;*/
  		}



  		.slider-container>.slider>.slide{
  			width: 100%;
  			display: inline-block;

  		}

  		.slider{
  			display: flex;
  			transition: 1s;
  		}

  		.banner-text{
  			font-family: 'Open Sans',sans-serif;
  			font-weight: 100;
  			width: 40%;
  			padding-top: 15px;
  			padding-left: 105px;
  		}

  		.banner-text h1{
  			font-size: 52px;
  			font-weight: 100;
  			margin: 0;
  			padding-top: 15px;
  			padding-bottom: 5px;
  		}
  		.banner-text-main h1{
  			font-size: 48px;
  			font-weight: 100;
  			color: #0E9548;
  			margin: 0;
  			padding-top: 15px;
  			padding-bottom: 5px;
  		}

  		.banner-text p{
  			font-size: 15px;
  			margin: 0;
  			padding-top: 15px;
  			padding-bottom: 15px;
  			width: 70%;
  		}

  		.banner-text-main p{
  			font-size: 20px;
  			color: black;
  			margin: 0;
  			padding-top: 15px;
  			padding-bottom: 15px;
  		}

  		.banner-text a{
  			color: white;
  			border: 1px solid white;
  			border-radius: 5px;
  			padding-top: 5px;
  			padding-bottom: 5px;
  			padding-left: 10px;
  			padding-right: 10px;
  			font-size: 15px;
  			margin-top: 20px;
  			display: block;
  			width: 25%;
  			text-align: center;
  		}

  		.banner-text-main a{
  			color: black;
  			border: 1px solid black;
  			border-radius: 5px;
  			padding-top: 5px;
  			padding-bottom: 5px;
  			padding-left: 10px;
  			padding-right: 10px;
  			font-size: 15px;
  			margin-top: 20px;
  			display: block;
  			width: 20%;
  			text-align: center;
  		}

  		.banner-text-main{
  			font-family: 'Open Sans',sans-serif;
  			font-weight: 100;
  			width: 65%;
  			vertical-align: middle;
  			padding-top: 70px;
  			padding-left: 100px;
  		}

  		#one{
  			background-image: url("../images/main-banner.png");
  			background-repeat: no-repeat;
  			height: 352px;
  		}

  		#two{
  			background-image: url("../images/second-banner.png");
  			background-repeat: no-repeat;
  			height: 352px;
  			vertical-align: top;
  		}


  		#three{
  			background-image: url("../images/third-banner.png");
  			background-repeat: no-repeat;
  			height: 352px;
  			vertical-align: top;
  		}


  		#four{
  			background-image: url("../images/fourth-banner.png");
  			background-repeat: no-repeat;
  			height: 352px;
  			vertical-align: top;
  		}

  		.slider {

  		}


  		.arrows{
  			/*margin-top: -100px;*/
  			position: absolute;
  			top: 50%;
  			/* left: 50%; */
  			width: 100%;
  			margin: auto
  		}

  		.left-arrow{
  			display: inline-block;
  			float: left;
  		}

  		.right-arrow{
  			display: inline-block;
  			float: right;
  		}

  		.right-arrow a, .left-arrow a{
  			color: white;
  			opacity: .5;

  		}

  		.bracket{
  			display: inline-block;
  			margin: 0;
  			font-weight: 900;
  		}

  		.icon .fa-user, .icon .fa-check{
  			padding-left: 5px;
  			padding-right: 5px;
  		}