.banner-text-about.alternative{
	padding-top: 54px;
	padding-bottom: 55px;
	z-index: 10000;
}

.contain-text{
	width: 70%;
}

.company-details a{
	text-decoration: underline; 
	color: inherit;
}
.sub-banner.alternative{
	/*padding-bottom: 25px;*/
}